extend ../views/template.pug

block content
    .card(style='center')
        .card-body.animated.fadeInDown
            img(src='https://creaentuidioma.org/apc-aa-files/1ac82884559da0a05ad723e98b06b2b0/comit.png' lign='middle' alt='ComIT logo')
            h5.card-title ComIT Final Project 
                a(href='https://github.com/devonkhosa/comit-project') (GitHub)
            h6.card-subtitle.mb-2.text-muted
            | Creator: 
            a(href='https://github.com/devonkhosa') Devon Khosa
            p.card-text
            | This project was made as the final project of ComIT&apos;s NodeBC, Node.js program. It was a pleasure to have been a part of this program, and I am grateful for the knowledge and skills that I have gained. Never stop learning!
            br
            br
            |
            p A special shoutout to Emerson, Pablo, Leah, ComIT staff, fellow classmates, and all else who allowed this to happen.
            p I wish you all the best, and hope you may continue to be awesome!
            br
            p Happy coding!
            br
            p - Devon K.
            a.card-link(href='#')
            a.card-link(href='#')